.App {
  text-align: center;
}
.appContainer {
  padding-top: 100px;
}
.appHeader {
  background-color: #222;
  height: 100px;
  color: white;
  text-align: center;
}
.headerText {
  padding: 1px;
}
.bsLogo {
  width: 200px;
  height: auto;
}
.appFooter {
  background-color: #222;
  height: 70px;
  color: white;
  text-align: center;
}


.done {
  text-decoration: line-through;
  color: #ACACAC;
}
.errorMsg {
  text-align: center;
}
.right {
  text-align: right;
}
.blue {
  color: #2B96FE;
}


/* overrides */
.form-control {
  border-radius: 0px;
  border-color: #FFF !important;
}
.addBtn {
  border-color: #FFF !important;
}
